*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #1A202C;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: #1A202C;
    }
  }