*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.txt1{
    color: rgb(255, 255, 255);
    padding-left: 590px;
    padding-top: 250px;
}

.txt2{
    color: rgb(255, 255, 255);
    padding-left: 560px;
}
